@import "tailwindcss";

/* cormorant-garamond-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/cormorant-garamond-v21-latin-300.woff2") format("woff2");
}
/* cormorant-garamond-300italic - latin */
@font-face {
  font-display: swap;
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 300;
  src: url("./fonts/cormorant-garamond-v21-latin-300italic.woff2")
    format("woff2");
}
/* cormorant-garamond-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/cormorant-garamond-v21-latin-regular.woff2") format("woff2");
}
/* cormorant-garamond-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/cormorant-garamond-v21-latin-500.woff2") format("woff2");
}
/* cormorant-garamond-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/cormorant-garamond-v21-latin-600.woff2") format("woff2");
}
/* cormorant-garamond-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/cormorant-garamond-v21-latin-700.woff2") format("woff2");
}

/* dm-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/dm-sans-v17-latin-regular.woff2") format("woff2");
}
/* dm-sans-500 - latin */
@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/dm-sans-v17-latin-500.woff2") format("woff2");
}
/* dm-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/dm-sans-v17-latin-700.woff2") format("woff2");
}
